{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
</head>
<body>
    <header style="user-select: none"><!--Шапка слева сбоку-->
        <a href="{% url 'profile' %}"><img src="{% static 'media/user.png' %}" width="50px"></a>
        <a href="{% url 'search' %}"><img src="{% static 'media/search-interface-symbol.png' %}" width="50px"></a>
        <a href="{% url 'index' %}"><img src="{% static 'media/home.png' %}" width="50px"></a>
        <a href="{% url 'chat_list' %}"><img src="{% static 'media/message.png' %}" width="50px"></a>
        <a href="{% url 'likes' %}"><img src="{% static 'media/heart.png' %}" width="50px"></a>
        <a href="{% url 'create_post' %}"><img src="{% static 'media/addition.png' %}" width="50px"></a>
    </header>    

    <main style="padding: 20px;">
        <div style="display: flex;">
            <h3 style="color: white;margin: 10px;user-select: none;margin-left: auto;margin-right: auto;">Профиль</h3>
            <a href="{% url 'logout' %}" style="text-align: right;user-select: none;"><img src="{% static 'media/exit.png' %}" width="25px"></a>
        </div>
        <div class="profile-container">
            <div class="profile-header-container">
                <div style="display: flex;">
                    <div style="text-align: left;display: block; margin-right: auto;padding-left: 5px;">
                        <h1>{{ user.username }}</h1>
                        <p>@{{ user.user_nickname }}</p>
                    </div>
                    <div style="text-align: rigth;margin-left: auto;user-select: none;">
                        {% if user.avatar %}
                            <img src="{{ user.avatar.url }}" width="100px" alt="Фото профиля" style="border-radius:50%;">
                        {% else %}
                            <img src="{% static 'media/default_user.png' %}" width="100px" alt="Дефолтное фото профиля">
                        {% endif %}
                    </div>
                </div>
                    <p style="text-align: left;">{{ user.description }}</p>
            </div>
            <div style="display: flex;margin-bottom: 20px;user-select: none;">
                <div style="display: block;margin-left: auto;margin-right: auto;">
                    <p>{{ user.followers_count }}</p>
                    <p>Подписчиков</p>
                </div>
                <div style="display: block;margin-left: auto;margin-right: auto;">
                    <p>{{ user.following_count }}</p>
                    <p>Подписок</p>
                </div>
            </div>

            <a href="{% url 'edit_profile' %}"><button style="width: 100%;
            background-color: rgb(35,35,35);color: white;
            border: 2px solid aliceblue;border-radius: 5px;
            padding: 10px;cursor: pointer;margin-bottom: 20px;user-select: none;"
            >Редактировать профиль</button></a>
            
            <div class="tabs">
                <a href="?type=posts" {% if active_tab == 'posts' %}class="active"{% endif %} style="margin-left: auto;margin-right: auto;">Посты</a>
                <a href="?type=reposts" {% if active_tab == 'reposts' %}class="active"{% endif %} style="margin-left: auto;margin-right: auto;">Репосты</a>
            </div>
            <hr style="margin-bottom: 20px;">
            <div >
                <h2 style="margin-bottom: 20px;">
                    {% if active_tab == 'posts' %}
                    <button id="openModalBtn" style="background-color: rgb(25,25,25); border: none; padding: 0; border-radius: 50%;cursor: text;display: flex;min-width: 100%;user-select: none;">
                            <div style="display: flex;min-width: 100%;">
                                <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'media/default_user.png' %}{% endif %}" 
                                     width="50px" style="border-radius: 100%;background-color: rgb(25,25,25);margin-right: 20px;cursor: pointer;">
                                <p style="color: rgb(204, 204, 204);font-weight: 100;margin-top: auto;margin-bottom: auto;font-size: 20px;cursor: text;margin-right: 50px;">Что нового?</p>
                                <span style="
                                    border: 1px solid aliceblue;
                                    background-color: rgba(0,0,0,0);
                                    color: aliceblue;
                                    padding: 10px 15px;
                                    border-radius: 10px;
                                    margin-left: auto;
                                    margin-top: auto;
                                    margin-bottom: auto;
                                    cursor: pointer;
                                ">
                                    Опубликовать
                                </span>
                            </div>
                    </button>
                    {% else %}
                        <p>Репосты {{ user.username }}</p>
                    {% endif %}
                </h2>
                <hr>
                {% for post in posts %}
                    <div class="post" style="width: 100%;">
                        <div style="display: flex;min-width: 100%;">
                            <div style="width: 5%;margin-right: 20px;user-select: none;">
                                {% if post.user.avatar %}
                                    <img src="{{ post.user.avatar.url }}" width="50px" style="border-radius: 100%;background-color: rgb(25,25,25)">
                                {% else %}
                                    <img src="{% static 'media/default_user.png' %}" width="50px" style="border-radius: 100%;background-color: rgb(25,25,25)">
                                {% endif %}
                            </div>
                            <div style="display: block;">
                                <div style="display: flex; align-items: center; margin-bottom: 5px; user-select: none; width: 100%;">
                                    <h4 style="margin-right: 5px;">
                                        <a href="{% url 'user_profile' user.id %}" style="color: aliceblue; text-decoration: none;">
                                            {{ post.user }}
                                        </a>
                                    </h4>   
                                    <span style="color: rgb(175, 175, 175); font-weight: 100;">
                                        <small>{{ post.created_at|date:"j E Y, H:i" }}</small>
                                    </span>
                                    {% if request.user == post.user %}
                                        <a href="{% url 'delete_post' post.id %}" style="margin-left: auto;">
                                            <img src="{% static 'media/delete.png' %}" width="20px">
                                        </a>
                                    {% endif %}
                                </div>                                
                                <div style="display: block;">
                                    <div style="text-align: left;">
                                        <p>{{ post.content }}</p>
                                        {% if post.image %}
                                            <img src="{{ post.image.url }}" style="max-width: 100%; max-height: 300px; border-radius: 5px;margin-top: 10px" alt="Изображение">
                                        {% endif %}
                                        <p style="margin-top: 10px;">
                                            {% for hashtag in post.hashtags.all %}
                                                <a href="{% url 'search' %}?q={{ hashtag.name }}" style="color: rgb(0, 204, 255);cursor: pointer;">#{{ hashtag.name }}</a>
                                            {% endfor %}
                                            <br style="user-select: none;"><br style="user-select: none;">
                                        </p>
                                        <div style="display: flex;">
                                            <p id="likes-count-{{ post.id }}">{{ post.likes.count }}</p>
                                            <img 
                                                id="like-btn-{{ post.id }}" 
                                                src="{% static 'media/like.png' %}" 
                                                data-liked-src="{% static 'media/liked.png' %}" 
                                                data-unliked-src="{% static 'media/like.png' %}" 
                                                width="20px" 
                                                style="margin-left: 5px; cursor: pointer;user-select: none;"
                                                alt="Лайк">
                                            <a href="{% url 'post_detail' post.id %}">
                                                <img 
                                                    src="{% static 'media/comment.png' %}" 
                                                    width="20px" 
                                                    style="margin-left: 5px; cursor: pointer; user-select: none;" 
                                                    alt="Комментировать">
                                            </a>    
                                            <a href="{% url 'repost' post.id %}" style="margin-left: 5px;">
                                                <img 
                                                    src="{% static 'media/repost.png' %}" 
                                                    width="20px" 
                                                    style="margin-left: 5px; cursor: pointer; user-select: none;" 
                                                    alt="Репост">
                                            </a>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="margin: 10px;">
                {% empty %}
                    <p>
                        {% if active_tab == 'posts' %}
                            У вас нет постов.
                        {% else %}
                            У вас нет репостов.
                        {% endif %}
                    </p>
                {% endfor %}
            </div>            
        </div>
    </main>
    <div id="postModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" id="closeModalBtn">&times;</span>
                <h2>Новый пост</h2>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" action="{% url 'create_post' %}" style="min-height:250px;">
                    {% csrf_token %}
                    <img id="previewImage" style="max-width: 100%; margin-top: 10px; display: none;max-width: 300px;max-height:300px;margin-bottom: 10px;border-radius: 5px;" />

                    <textarea name="content" placeholder="Что нового?" class="input-post" style="width: 90%;" required></textarea><br>
                
                    <div style="display: flex; gap: 10px; align-items: center; margin-top: auto; margin-bottom: auto;">
                        <label for="imageInput" style="cursor: pointer;">
                            <img src="{% static 'media/image-icon.png' %}" width="25" style="margin-top: 10px;" alt="Добавить изображение">
                        </label>
                        <input type="file" id="imageInput" name="image" style="display: none;" accept="image/*">

                        <img src="{% static 'media/hashtag-icon.png' %}" width="24" alt="Хэштеги" onclick="toggleHashtags()" style="cursor: pointer;">
                    </div>
                    <input type="text" name="hashtags" id="hashtagsInput" placeholder="#хэштеги через пробел" style="display: none;">
                
                    <button type="submit">Опубликовать</button>
                    {% if form.errors %}
                        <div style="color: red;">
                            {{ form.errors }}
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'scripts.js' %}"></script>
    <script>
        {% if open_modal %}
            window.onload = function() {
                document.getElementById("postModal").style.display = "block";
            }
        {% endif %}
    </script>
    
</body>
</html>
